---
import "./hero.css";
import HeroImage from "@/assets/imgs/heroImg.png";
import { StandardButton, StandardInput } from "@components/React/atoms";
import { Subscription } from "@components/customHooks/Subscription"

export const BigTitleText1 = "Conéctate con";
export const BigTitleText2 = "tus clientes";
export const BigTitleText3 = "sin esfuerzo.";
export const TitleText =
  "Nuestra aplicación facilita que los peluqueros se conecten con sus clientes y gestionen las citas y estadisticas de manera fluida.";

import { IdHome, basePath, goToTermsAndPrivacy } from "@/utils/contantes";
---

{
  (
    <div
      id={IdHome}
      class="w-full h-[37.5rem] mh-[67.5rem] relative md:h-[100vh]"
    >
      <div class="w-full h-full relative">
        <img
          class="w-full h-full img-hero"
          src={HeroImage}
          alt="Image about a haircut in a salon"
        />

        <div class="w-full h-full relative opacity">
          <div class="w-full h-full container mx-auto flex items-center justify-center md:justify-start">
            <div class="container-text-header relative grid grid-rows-3 gap-3 w-[18rem] md:w-[68%] md:max-w-[40rem] md:ml-[4.5rem] md:mt-[4.5rem]">
              <div class="row-span-3 pb-1 md:pb-3">
                <h1 class="text-[--color-big-title] font-[900]">
                  {BigTitleText1} <br /> {BigTitleText2} <br /> {BigTitleText3}
                </h1>
              </div>

              <div class="row-span-2" />

              <Subscription />

              <p class="text-[--white] text-[.60rem] md:text-[.75rem] text-left">
                Al enviar el correo estas aceptando nuestros
                <a class="link pl-1" href={`${basePath}${goToTermsAndPrivacy}`}>
                  Términos y Condiciones
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  )
}
