---
import "./section.css";
import ImageSection1 from "@/assets/imgs/imgtest1.png";
import ImageSection2 from "@/assets/imgs/imgtest2.png";
import ImageSection3 from "@/assets/imgs/imgtest3.png";

import MobileContent from "./MobileContent.astro";

const sections: {
  title: string;
  imgSrc: string;
  texts: string[];
  bgColor: string;
  idSection: "services" | "about" | "contact";
}[] = [
  {
    title: "Optimiza tu tiempo y conquista a tus clientes.",
    imgSrc: ImageSection1,
    bgColor: "var(--color-bg-section)",
    idSection: "services",
    texts: [
      "Descubre una forma sencilla y efectiva de potenciar tu negocio de belleza con nuestra solución de reservación y gestión integradas. Nuestra plataforma te brinda la libertad de gestionar tus citas y recursos de manera eficiente, lo que te permitirá dedicar más tiempo a tus clientes y menos a tareas administrativas.",
      " A través de un sistema intuitivo y fácil de usar, tus clientes podrán reservar sus citas en cualquier momento y desde cualquier lugar, brindándoles la comodidad que buscan en la era digital.",
    ],
  },
  {
    title: "Conéctate con tus clientes y aumenta su satisfacción.",
    imgSrc: ImageSection2,
    bgColor: "var(--color-bg-white)",
    idSection: "about",
    texts: [
      "No importa si eres un salón de belleza independiente o una cadena de peluquerías, nuestra plataforma está diseñada para adaptarse a tus necesidades específicas y hacer crecer tu negocio.",
      "Potencia tu presencia en línea con una solución moderna y atractiva que te ayudará a destacar en el competitivo mercado de la belleza y el cuidado personal.",
    ],
  },
  {
    title: "Descubre los mejores servicios de belleza y cuidado personal",
    imgSrc: ImageSection3,
    bgColor: "var(--color-bg-section)",
    idSection: "contact",
    texts: [
      "Sumérgete en un oasis de bienestar y renovación a través de una amplia gama de servicios de belleza y cuidado personal. Nuestra app te conecta con expertos altamente calificados y los mejores salones de belleza y spas de la ciudad.",
    ],
  },
];
---

<div class="sections-d">
  <section
    id={sections[0].idSection}
    class={`md:py-[--padding-sections] py-[3.125rem] px-[1.7rem] grid`}
    style={{ backgroundColor: sections[0].bgColor }}
  >
    <!-- mobile -->
    <MobileContent {...sections[0]} />
    <!-- dekstop -->
    <div
      class="section-img-container-d hidden md:grid justify-center gap-[4.375rem] container mx-auto"
    >
      <div class="grid place-items-center w-full order-2 relative">
        <div
          class="grid bg-[--primary] rounded-t-[.2rem] absolute top-[-1rem] right-[-1rem] w-[7.5rem] h-[60%]"
        >
        </div>

        <img
          class="w-full h-[inherit] rounded-[1rem] object-cover order-1 relative z-[5]"
          src={sections[0].imgSrc}
          alt={`image representation of ${sections[0].title}`}
        />
      </div>

      <div class="order-1">
        <h2
          class="custom-title text-[--color-title] font-[--font-w-title] pt-[1.875rem] pb-[1.35rem]"
        >
          {sections[0].title}
        </h2>
        {
          sections[0].texts.map((text) => (
            <p class="custom-text font-[--font-w-text] text-[--color-text] pb-[1.20rem]">
              {text}
            </p>
          ))
        }
      </div>
    </div>
  </section>

  <!-- 2 -->
  <section
    id={sections[1].idSection}
    class={`md:py-[--padding-sections] py-[3.125rem] px-[1.7rem] grid`}
    style={{ backgroundColor: sections[1].bgColor }}
  >
    <!-- mobile -->
    <MobileContent {...sections[1]} />
    <!-- dekstop -->
    <div
      class="section-img-container-d hidden md:grid place-items-center justify-center gap-[4.375rem] container mx-auto"
    >
      <div class="grid place-items-center w-full relative">
        <div
          class="grid bg-[--primary] rounded-t-[.2rem] absolute bottom-[-1rem] left-[-1rem] w-[65%] h-[60%]"
        >
        </div>

        <img
          class="w-full h-[inherit] rounded-[1rem] object-cover order-1 relative z-[5]"
          src={sections[1].imgSrc}
          alt={`image representation of ${sections[1].title}`}
        />
      </div>

      <div class="">
        <h2
          class="custom-title text-[--color-title] font-[--font-w-title] pt-[1.875rem] pb-[1.35rem]"
        >
          {sections[1].title}
        </h2>
        {
          sections[1].texts.map((text) => (
            <p class="custom-text font-[--font-w-text] text-[--color-text] pb-[1.20rem]">
              {text}
            </p>
          ))
        }
      </div>
    </div>
  </section>

  <!-- 3 -->
  <section
    id={sections[2].idSection}
    class={`md:py-[--padding-sections] py-[3.125rem] py-[3.125rem] px-[1.7rem] grid`}
    style={{ backgroundColor: sections[2].bgColor }}
  >
    <!-- mobile -->
    <MobileContent {...sections[2]} />
    <!-- dekstop -->
    <div
      class="section-img-container-d hidden md:grid place-items-center justify-center gap-[4.375rem] container mx-auto"
    >
      <div class="grid place-items-center w-full relative order-2">
        <div
          class="grid bg-[--primary] rounded-t-[.2rem] absolute top-[-1rem] right-[-1rem] w-[65%] h-[60%]"
        >
        </div>

        <img
          class="w-full h-[inherit] rounded-[1rem] object-cover order-1 relative z-[5]"
          src={sections[2].imgSrc}
          alt={`image representation of ${sections[2].title}`}
        />
      </div>

      <div class="">
        <h2
          class="custom-title text-[--color-title] font-[--font-w-title] pt-[1.875rem] pb-[1.35rem]"
        >
          {sections[2].title}
        </h2>
        {
          sections[2].texts.map((text) => (
            <p class="custom-text font-[--font-w-text] text-[--color-text] pb-[1.20rem]">
              {text}
            </p>
          ))
        }
      </div>
    </div>
  </section>
</div>
